@tailwind base;
@tailwind components;
@tailwind utilities;

*, *::before, *::after {
    box-sizing: border-box;
}

.editorContainer {
    width: 100%;
    min-height: 11in;
}

.container .ql-editor {
    width: 100%;
    /* box-shadow: 0 0 5px 0 rgba(0, 0, 0, .5); */
    background-color: white;
    border: 1px solid rgba(0, 0, 0, .3);
    min-height: 500px;
    height: auto !important;
}

.container .ql-container.ql-snow {
    border: none;
    display: flex;
    justify-content: center;
    height: auto !important;
}


.container .ql-toolbar.ql-snow {
    display: none;
    justify-content: center;
    position: sticky;
    top: 0; 
    z-index: 1;
    background-color: rgb(226 232 240);
    border: none;
    box-shadow: 0 0 5px 0 rgba(0, 0, 0, .5);
}

@page {
    margin: 1in;
}

@media print {
    /* body {
        background: none;
    }
    .container .ql-editor {
        width: 100%;
        height: 3in;
        padding: 0;
        margin: 0;
        box-shadow: none;
        align-self: flex-start;
    }

    .container > .ql-toolbar{
        display: none;
    } */
}

